.Modal {
    position: absolute;
    padding: 20px 20px;
    top: 40px;
    left: 320px;
    right: 320px;
    bottom: 20px;
    background-color: black;
    align-items: center;
    justify-content: center;
  }

  .Overlay {
    position: fixed;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    background-color: rgba(0,0,0,0);
  }